BODY {
	SCROLLBAR-FACE-COLOR: #f0f0f0; FONT: 12px geneva, arial, verdana, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #3f4755; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0
}
TD {
	SCROLLBAR-FACE-COLOR: #f0f0f0; FONT: 12px geneva, arial, verdana, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #3f4755; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0
}
TH {
	SCROLLBAR-FACE-COLOR: #f0f0f0; FONT: 12px geneva, arial, verdana, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #3f4755; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0
}
P {
	SCROLLBAR-FACE-COLOR: #f0f0f0; FONT: 12px geneva, arial, verdana, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #3f4755; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0
}
LI {
	SCROLLBAR-FACE-COLOR: #f0f0f0; FONT: 12px geneva, arial, verdana, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #3f4755; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #f0f0f0
}
P {
	FONT: 11px geneva, arial, verdana, sans-serif; COLOR: #3f4755
}
LI {
	FONT: 11px geneva, arial, verdana, sans-serif; COLOR: #3f4755
}
A {
	
}
BODY P {
	FONT-SIZE: small; voice-family: inherit
}
BODY LI {
	FONT-SIZE: small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
UNKNOWN {
	FONT-SIZE: small
}
.aPjust {
	FONT: 11px geneva, arial, verdana, sans-serif; COLOR: #3f4755; TEXT-ALIGN: justify
}
.Faqquestion {
	FONT: bolder 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #333333
}
.menulinkdisabled {
	FONT: 10px/14px verdana, geneva, arial, sans-serif
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.topmenu {
	TEXT-DECORATION: none
}
A.topmenu:link {
	TEXT-DECORATION: none
}
A.topmenu:visited {
	TEXT-DECORATION: none
}
A.topmenu:active {
	TEXT-DECORATION: none
}
A.topmenu:hover {
	TEXT-DECORATION: none
}
.menulink {
	FONT: 10px/14px verdana, geneva, arial, sans-serif; COLOR: #244e98
}
A.menulink:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menulink:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menulink:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menulink:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.leftlinks {
	FONT: 10px/14px verdana, geneva, arial, sans-serif; COLOR: #333333
}
A.leftlinks:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.leftlinks:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.leftlinks:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.leftlinks:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.navtrail {
	FONT-SIZE: 10px; COLOR: #eeeeee; LINE-HEIGHT: 10px
}
A.navtrail:link {
	COLOR: #eeeeee
}
A.navtrail:visited {
	COLOR: #eeeeee
}
A.navtrail:active {
	COLOR: #eeeeee
}
A.navtrail:hover {
	COLOR: #eeeeee
}
.tinylink {
	FONT: 10px/14px geneva, arial, sans-serif
}
A.tinylink:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.tinylink:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.tinylink:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.tinylink:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.leftRelatedLinks
{
	font: 10px/14px verdana, geneva, arial, sans-serif;
	color: #fff;
	
}
INPUT.button {
	BORDER-RIGHT: #32c862 1px solid; BORDER-TOP: #32c862 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #32c862 1px solid; WIDTH: 70px; COLOR: #000000; BORDER-BOTTOM: #32c862 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #bceecc
}
INPUT.checkbox {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 8pt; BORDER-LEFT: 0px; WIDTH: 40px; COLOR: #000000; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana, arial
}
INPUT.button2 {
	BORDER-RIGHT: #32c862 1px solid; BORDER-TOP: #32c862 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #32c862 1px solid; WIDTH: 125px; COLOR: #000000; BORDER-BOTTOM: #32c862 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #bceecc
}
INPUT.buttonreset {
	BORDER-RIGHT: #fa4b00 1px solid; BORDER-TOP: #fa4b00 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #fa4b00 1px solid; WIDTH: 70px; COLOR: #000000; BORDER-BOTTOM: #fa4b00 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #ffc4ab
}
INPUT.btnlogin {
	BORDER-RIGHT: #32c862 1px solid; BORDER-TOP: #32c862 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #32c862 1px solid; WIDTH: 40px; COLOR: #000000; BORDER-BOTTOM: #32c862 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #bceecc
}
INPUT.smallbutton {
	BORDER-RIGHT: #32c862 1px outset; BORDER-TOP: #d5ffd5 1px outset; FONT-WEIGHT: bolder; FONT-SIZE: 10px; BORDER-LEFT: #d5ffd5 1px outset; WIDTH: 40px; COLOR: #000000; BORDER-BOTTOM: #32c862 1px outset; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #99ff99
}
/*INPUT {
	BORDER-RIGHT: #060606 1px solid; BORDER-TOP: #060606 1px solid; SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; BORDER-LEFT: #060606 1px solid; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #b9b9b9; SCROLLBAR-ARROW-COLOR: #333333; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #060606 1px solid; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; SCROLLBAR-DARKSHADOW-COLOR: #b9b9b9; SCROLLBAR-BASE-COLOR: #f0f0f0; HEIGHT: 16px; BACKGROUND-COLOR: #f8f8f8
}*/
SELECT {
	BORDER-RIGHT: #060606 1px solid; BORDER-TOP: #060606 1px solid; SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; BORDER-LEFT: #060606 1px solid; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #b9b9b9; SCROLLBAR-ARROW-COLOR: #333333; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #060606 1px solid; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; SCROLLBAR-DARKSHADOW-COLOR: #b9b9b9; SCROLLBAR-BASE-COLOR: #f0f0f0; HEIGHT: 16px; BACKGROUND-COLOR: #f8f8f8
}
TEXTAREA.requestarea {
	BORDER-RIGHT: #060606 1px solid; BORDER-TOP: #060606 1px solid; SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 8pt; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; BORDER-LEFT: #060606 1px solid; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #b9b9b9; SCROLLBAR-ARROW-COLOR: #333333; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #060606 1px solid; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; SCROLLBAR-DARKSHADOW-COLOR: #b9b9b9; SCROLLBAR-BASE-COLOR: #f0f0f0; BACKGROUND-COLOR: #f8f8f8
}
TEXTAREA {
	FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
unknown {
	FONT: 11px/14px geneva, arial, verdana, sans-serif; COLOR: #616d83; TEXT-DECORATION: none
}
.bgdiv {
	FILTER: alpha(opacity=80)
}
.drag {
	CURSOR: hand; POSITION: relative
}
.left-sub-head {
	FONT-SIZE: 11px; COLOR: #244e98
}
.frontops {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.topops {
	FONT: 10px/14px verdana, geneva, arial, sans-serif; COLOR: #244e98
}
A.topops:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.topops:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.topops:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.topops:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.helplink {
	CURSOR: hand
}
.homelink {
	CURSOR: hand
}
.downlink {
	CURSOR: hand
}
.footer {
	COLOR: #cccccc
}
A.footer:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.footer:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.footer:active {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.footer:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
A.bodyright:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.bodyright:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.bodyright:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.bodyright:hover {
	COLOR: #939aa6; TEXT-DECORATION: none
}
.gray99 {
	COLOR: #999999
}
.gray66 {
	COLOR: #666666
}
.gray33 {
	COLOR: #333333
}
.black {
	COLOR: #000000
}
.white {
	COLOR: #ffffff
}
.orange {
	COLOR: #ff4800
}
.red {
	COLOR: #f00
}
.greybluedark {
	COLOR: #616d83
}
A.greybluedark:link {
	COLOR: #616d83; TEXT-DECORATION: none
}
A.greybluedark:visited {
	COLOR: #616d83; TEXT-DECORATION: none
}
A.greybluedark:active {
	COLOR: #616d83; TEXT-DECORATION: none
}
A.greybluedark:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.greybluemedium {
	COLOR: #939aa6
}
A.greybluemedium:link {
	COLOR: #939aa6; TEXT-DECORATION: none
}
A.greybluemedium:visited {
	COLOR: #939aa6; TEXT-DECORATION: none
}
A.greybluemedium:active {
	COLOR: #939aa6; TEXT-DECORATION: none
}
A.greybluemedium:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.greybluelight {
	COLOR: #b7bdc7
}
A.greybluelight:link {
	COLOR: #b7bdc7; TEXT-DECORATION: none
}
A.greybluelight:visited {
	COLOR: #b7bdc7; TEXT-DECORATION: none
}
A.greybluelight:active {
	COLOR: #b7bdc7; TEXT-DECORATION: none
}
A.greybluelight:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
.linkblue {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.linkblue:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.linkblue:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.linkblue:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.linkblue:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.faqTopic {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FLOAT: left; PADDING-BOTTOM: 10px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.header2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: #333333; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #900028; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.boxheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.boxbody {
	FONT-SIZE: 10px; COLOR: #244e98; LINE-HEIGHT: 12px
}
.trcolor99 {
	BACKGROUND-COLOR: #999999
}
.trcoloree {
	BACKGROUND-COLOR: #eeeeee
}
.trcolordark {
	BACKGROUND-COLOR: #1f2632
}
.trcolornavgrey {
	BACKGROUND-COLOR: #758297
}
.trboxheader {
	BACKGROUND-IMAGE: url(/bar/ident_bar_bg.gif); BACKGROUND-COLOR: #ebedf6
}
TD.tHeaderBackgroundAlternate {
	BACKGROUND-IMAGE: url(/images/tHeaderBackgroundAlternate.gif); BACKGROUND-COLOR: #ebedf6
}
.trActive {
	BACKGROUND-COLOR: #758297
}
.trInActive {
	BACKGROUND-COLOR: #bac0cb
}
.HeadtxtColorActive {
	COLOR: #333
}
.HeadtxtColorInActive {
	COLOR: #999
}
.txtColorActive {
	COLOR: #3f4755
}
.txtColorInActive {
	COLOR: #9fa3aa
}
.norecActive {
	COLOR: #ff4800
}
.norecInActive {
	COLOR: #fca07c
}
TD.HeaderActive {
	BACKGROUND-IMAGE: url(/images/bg_active.gif); BACKGROUND-COLOR: #ebedf6
}
TD.HeaderInActive {
	BACKGROUND-IMAGE: url(/images/bg_inactive.gif); BACKGROUND-COLOR: #ebedf6
}
SPAN.showme {
	FILTER: dropshadow(color=#000000,OffX=2.5,OffY=2.5,Positive=1); WIDTH: 100%; POSITION: relative; TOP: -8px
}
.whitedate {
	BACKGROUND-COLOR: #fff
}
.darkdate {
	BACKGROUND-COLOR: #cccccc
}
.copy-tiny {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copy-tiny-ju {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copy-tinyBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.copy-tinyBold {
	LIST-STYLE-IMAGE: url(../images/link_box_black.gif)
}
.copy-tinyBoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copy-supertiny {
	FONT-SIZE: 9px; COLOR: #333
}
LI.copy-tiny {
	FONT-SIZE: 10px; LIST-STYLE-IMAGE: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.aEditComment {
	BORDER-RIGHT: #0033cc 1px; BORDER-TOP: #0033cc 1px dotted; BORDER-LEFT: #0033cc 1px; COLOR: #0000ff; BORDER-BOTTOM: #0033cc 1px dotted
}
.legal {
	FONT-SIZE: 10px; COLOR: #eeeeee; LINE-HEIGHT: 10px
}
A.legal:link {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
A.legal:visited {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
A.legal:active {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
A.legal:hover {
	COLOR: #eeeeee; TEXT-DECORATION: underline overline
}
TD.padding10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.trmargin10 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
P.lineover {
	BORDER-TOP: #cccccc 1px dotted; FONT-SIZE: 12px; MARGIN: 20px 0px 0px; COLOR: #3f4755; PADDING-TOP: 6px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.header1LineOver {
	BORDER-TOP: #cccccc 1px dotted; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 40px 0px 0px; WIDTH: 540px; COLOR: #900028; LINE-HEIGHT: 16px; PADDING-TOP: 12px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.mapLi {
	LIST-STYLE-IMAGE: url(/images/bullet_sitemap.gif)
}
.maplili {
	LIST-STYLE-IMAGE: url(/images/tiny/map-l1.gif)
}
.mapliliend {
	LIST-STYLE-IMAGE: url(/images/tiny/map-le.gif)
}
.impactdiv {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; FONT: 9pt arial, verdana, sans-serif; BORDER-LEFT: #999 1px dotted; COLOR: #3f4755; PADDING-TOP: 3px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #f3dfd8; TEXT-ALIGN: justify
}
.faqlineunder {
	MARGIN: 0px 0px 0px 20px; PADDING-TOP: 6px; BORDER-BOTTOM: #aaa 1px dotted
}
A.treflinks {
	FONT: 10px/14px verdana, geneva, arial, sans-serif; COLOR: #513a99
}
A.leftlinks:link {
	COLOR: #513a99; TEXT-DECORATION: none
}
A.leftlinks:visited {
	COLOR: #513a99; TEXT-DECORATION: none
}
A.leftlinks:active {
	COLOR: #513a99; TEXT-DECORATION: none
}
A.leftlinks:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}
A.tpetrolinks {
	FONT: 10px/14px verdana, geneva, arial, sans-serif; COLOR: #153997
}
A.leftlinks:link {
	COLOR: #153997; TEXT-DECORATION: none
}
A.leftlinks:visited {
	COLOR: #153997; TEXT-DECORATION: none
}
A.leftlinks:active {
	COLOR: #153997; TEXT-DECORATION: none
}
A.leftlinks:hover {
	COLOR: #ff4800; TEXT-DECORATION: none
}

#d
{
	font-weight: bold;
	
}


